* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    display: flex;
    flex-flow: column;

    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
}

.columns {
    display: flex;
    flex: 1;
    width: 100%;
    overflow-x: scroll;
}

.columns .column {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    overflow-y: scroll;
    
    min-width: 250px;
    max-width: 100%;
    height: 100%;
    min-height: 150px;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.1);
    margin: 0 40px;
    padding: 16px;
    transition: all 0.2s linear;
}

#add-button {
    border: none;
    background-color: transparent;
    margin-top: auto;
}

.columns .column .column-item {
    background-color: white;
    border-radius: 10px;
    padding: 16px 8px;
    text-align: center;
    margin: 8px 0px 8px 8px;
    position: relative;
    height: 100px;
    min-height: 100px;
}

.new-item {
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    padding: 16px 8px;
    text-align: center;
    margin: 8px 0px 8px 8px;
    position: relative;
    height: 100px;
    min-height: 100px;
}

.new-input {
    font-size: 12px;
    height: 64px;
    overflow-wrap: normal;
    margin-bottom: 18px;
    word-break: keep-all;
}

.new-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 2px;
}

.done-button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.item-text {
    font-size: 12px;
    margin-right: 26px;
    margin-left: 26px;
    height: 64px;
    overflow-y: hidden;
}

.item-right-arrow {
    background-color: white;
    border: 2px solid gray;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    margin-right: 3px;
}

.item-left-arrow {
    background-color: white;
    border: 2px solid gray;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    margin-left: 3px;
}

.item-date {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.item-name {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
}

/* Works on Chrome, Edge, and Safari */
.columns ::-webkit-scrollbar {
    width: 32px;
}

.columns ::-webkit-scrollbar-track {
    background: black;
    border: 18px solid transparent;
    background-clip: content-box;
    margin-top: 66px;
}

.columns ::-webkit-scrollbar-thumb {
    background: white;
    border: 22px solid transparent;
    background-clip: content-box;
}